body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #40514E;
}

.top-container {
  background-color: #DBE6FD;
  padding: 100px;
}

.middle-container {
  padding: 100px;
}

.bottom-container {
  background-color: #2980b9;
  padding: 50px;
  color: #EAF6F6;
}

.bottom-container p {
  font-size: 0.7rem;
  margin-top: 30px;
}

h1 {
  color: #150E56;
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  margin: 0;
}

h3 {
  color: #3949ab;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #3949ab;
}

a {
  color: #001D6E;
  text-decoration: none;
}

.cloud {
  position: absolute;
  top: 180px;
  left: 400px;
}

.sun-cloud {
  position: absolute;
  top: 10px;
  right: 400px;
}

.programmer {
  margin: 20px;
}

.profile-picture {
  border-radius: 50%;
  height: 200px;
}

.coding-picture {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.cooking-picture {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  /* Make it appear in center after width 0% */
  text-align: left;
  line-height: 2;
}

.description {
  width: 50%;
  margin: 50px auto;
}

hr {
  border-style: dotted;
  width: 2.5%;
  border-width: thick;
  border-top-width: 0;
  color: #99C4C8;
  margin: 80px auto;
}

.btn {
  background-color: #2155CD;
  padding: 13px;
  border-radius: 8px;
  color: #DBE6FD;
}

.btn {
  background: #2259c7;
  background-image: linear-gradient(to bottom, #2259c7, #2980b9);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  color: #DBE6FD;
}

.btn:hover {
  background: #11d2eb;
  background-image: linear-gradient(to bottom, #11d2eb, #9cdcf0);
}

.footer-link {
  margin: 20px;
}
